@import "../global";
.review{
    padding: 55px 0;
    text-align: center;
    &__title{
        @include font($color-blue, 60px, bold, $font-gara);
        text-align: center;
    }
    &__text{
        margin: 25px 0 20px;
        @include font($color-blue, 30px,  normal, $font-mont);
    }
    &__author{
        @include font($color-blue, 25px,  normal, $font-mont);
    }
   
    &__row{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 170px auto 0;
    }
    .swiper-button-prev {
        left:45%
     }
    .swiper-button-next {
       right:45%
    }
    
}
