@import "../global";
.btn2{
        background-color: $color-yellow;
        padding: 20px 65px;
        color: $color-white;
        border-radius: 5px;
        @include font($color-white, 25px,  700, $font-mont);
        margin-top: 30px;
        border: none;

}